[Unit]
Description=T-trace marker
DefaultDependencies=no
After=sys-kernel-debug.mount

[Service]
Type=simple
ExecStart=/usr/bin/atrace --init_exec
SmackProcessLabel=ttrace

[Install]
WantedBy=sys-kernel-debug.mount
